@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

:root {
	--primary: #1d3072;
	--default-layout-header-height: 84px;
}
* {
	box-sizing: border-box;
	margin: 0;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Bricolage Grotesque', serif;
	font-size: 1.6rem;
}
